@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Projekt grupowy informatyka 2019, V semestr
    <ul>
        <li>Mikołaj Pszczewicz</li>
        <li>Mateusz Krawczyk (150348)</li>
        <li>Tomasz Pyrak</li>
    </ul>
    <strong>krawat10@gmail.com</strong> <br />
</address>
